body{
    background: lightslategray;
}

.container{
    padding: 5rem;
    padding-left: 20rem;
    margin: 2rem;
    border: 14px solid 	#000000;
    border-radius: 2rem;
    box-shadow: 10px 10px;
    background: 	#d3d3d3;
}
.addBtn{
   margin: 0.5rem;
   margin-left: 15.8rem;
}
.heading{
   margin: 2rem;
}
.show{
    display: flex;
    column-gap: 3rem;
   padding-left: 2rem;
   padding-top: 3rem;
}
.red-text{
    color: red;
}
.green-text{
    color: green;
}